
<div class="row">
	<div class="span12">
		<form action="" class="navbar-search">
			<input type="text" class="" placeholder="Search">
		</form>
	</div>
</div>

<div class="row">
	<div class="span4" ng-repeat="group in groups">
		<div class="well" ng-click>
	    <h3>{{group.name}}</h3>
	    <p>{{group.devices}} device(s) attached</p>
	    <a class="btn btn-primary" href="#/{{group.id}}">See</a> 
	    </div>
	</div>
</div>


<!-- <div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding. - Yeoman</h3>
</div>
 -->