<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="" class="brand">Quark</a>
			<ul class="nav pull-right">
				<li><a href="#">Overview</a></li>
				<li><a href="#">Messages</a></li>
				<li><a href="#">Settings</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span3">
			<div class="">Lights</div>
		</div>
		<div class="span3">
			<div class="">Group of lights</div>
		</div>
		<div class="span3">
			<div class="">Bedroom Fan</div>
		</div>
		<div class="span3">
			<div class="">Pool Lights</div>
		</div>
	</div>
</div>

<!-- <div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding. - Yeoman</h3>
</div>
 -->